* {
  font-family: 'Inconsolata', monospace;
  color:#555;
}

body{
  background-color: #F6F6F6;
}

h1{
  color: black;
  text-align: center;
}

.calculator   {
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #111;
  border-radius: 5px;
}

button  {
  background: rgba(0, 0, 0, 0.5); /* light background with opacity 50% */
  border: 1px solid #111;
  padding: 20px;
  color: #EEE; 
  border-radius: 5px; 
  font-size: 22px; 
  cursor: pointer; /* make it look clickable */
}

.calculator-buttons {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

#inputLabel {
  height:90px;
  font-size: 40px;
  vertical-align: bottom;
  text-align: right;
  padding-right:16px;
  background-color: #ececec;
}

.clear{
  grid-column-start:1;
  grid-column-end: 4;
  background-color: blue;
}

.zero{
  grid-column-start:1;
  grid-column-end: 3;
  background-color: #94cb61;
}